body,html{
    padding:0;
    margin:0;
}
body{background-color: beige;
}
header{
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
a{
    font-style: none;
}


    

article{
    background-color: black;
}



 #explore{
    cursor: pointer;
  background-color:azure
  /* margin: 1.25rem 0.6rem 0.6rem 0.6rem; */
  border-radius: 5px;
  border: 0;

  color: white;
  position: relative;
}
 #explore:hover{
    background-color:aqua
    
}
 #explore span {
    color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#explore span:after{
    content: '\032C';
    bottom: -0.5rem;
    transition: 0.5s;
  
   position:absolute; 
}


 #explore:hover span {
     padding-bottom: 1rem; 
  
}
#explore:hover span:after{
    
padding:0;
margin:0;
}
 .show{
      display:none;   
}
