*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --var-primary-color-100:rgb(62,28,0);
    --var-primary-colo-102:rgb(73,34,1);
    --var-primary-color-103:rgb(86,43,0);
    --var-primary-color-104:rgb(99,50,0);
    --var-primary-color-105:rgb(232, 174, 119);


}
body,html{
    padding:0;
    margin:0;
}
body{background-color: beige;
}
header{
    background-color:var(--var-primary-color-100);
    display:flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  color: aliceblue;
}
nav{
width:100%;
justify-self: center;
display:flex;
justify-content: center;
border-radius: 3rem;;
background-color: var(--var-primary-color-103);

}
h1{
    
  

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}
    

article{
    background-color: black;
}
h






a .title{
    padding:0;
}
p{
    padding-top:6;
}
p{
    padding:0;
    margin:0;
}


a .title{
    cursor: pointer;
  float: right;
  
  margin: 1.25rem 0.6rem 0.6rem 0.6rem;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 1rem;
  color:
  position: relative;
}
 .title:hover{
    background-color: var(--var-primary-color-105)
    
}
 .title span {
    color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a.title span:after{
    content: '\032C';
    font-size: 5rem;;

    opacity: 0;
   
    bottom: -0.5rem;
    transition: 0.5s;
  left: 2rem;
  


    position:absolute;
}
 .title:hover span {
    padding-bottom: 1rem;
}
.title:hover span:after{
    opacity: 1;
    right: 0;
}
.show{
      display:none;  
}
button{
    border-radius: 2rem;
    background-color: linear-gradient(30deg, --var-primary-color-105, rgb(192, 150, 150));
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    font-size: 1rem;
}
.arrow{
    font-size: 8rem;
 
    
}